.container {
  width: min(var(--container), calc(100% - 3rem));
  margin-inline: auto;
}

.section {
  padding-block: 8rem;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

@media (max-width: 768px) {
  .grid-2 {
    grid-template-columns: 1fr;
  }

  .section {
    padding-block: 5rem;
  }
}